body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #183642;

}

h2 {
  margin-top: -2em;
  color: white;
}

.headertext {
  margin-top: .1em;
}

.navbar {
  width: 100%;
  background-color: #313D5A;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}



.fa-github-alt {
  color: #EAEAEA;
  font-size: 3.5em;
  top: 0;

}


.fa-arrow-right {
  color: white;
  font-size: 2.5em;
  align-items: flex-end;
}

.arrowbox {
  background-color: #73628A;
  width: 300px;
  height: auto;
  margin: 5px;
  margin-top: 1vw;
  box-shadow: 3px 3px 15px rgb(98, 98, 98);
  display: none;
}
h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  font-weight: 700;
  color: rgb(255, 217, 182);
  font-size: 30px;
}

p {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 25px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2em;


}

.box1 {
  background-color: rgb(70, 70, 70);
  width: 300px;
  height: 175px;
  margin: 5px;
  margin-top: 7vw;
  box-shadow: 2px 3px 10px rgb(56, 56, 56);
}

.box2 {
  background-color: rgb(70, 70, 70);
  width: 300px;
  height: 175px;
  margin: 5px;
  margin-top: 7vw;
  box-shadow: 2px 3px 10px rgb(56, 56, 56);
}
.box3 {
  background-color: rgb(70, 70, 70);
  width: 300px;
  height: 175px;
  margin: 5px;
  margin-top: 7vw;
  box-shadow: 2px 3px 10px rgb(56, 56, 56);
}

.box4 {
  background-color: rgb(70, 70, 70);
  width: 300px;
  height: 175px;
  margin: 5px;
  margin-top: 7vw;
  box-shadow: 2px 3px 10px rgb(56, 56, 56);
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}

.box11 {

  width: 300px;
  height: auto;
  margin: 5px;
  margin-top: 2vw;

}

a {
  color: rgb(185, 211, 255);
  text-decoration: none;
}



@media only screen and (max-width: 600px) {
  .flex-container {
      margin-top: 8em;
  }
}

/* THIS MEANS NOTHING */
